In [1]:
%pylab
import pandas

#create some x values
x = linspace(start=0,stop=5,num = 10)

#the y values will the the square of the x values
y = x**2

#Put them in a Dataframe and reference this new Dataframe with the variable `dF`
dF = pandas.DataFrame({'x':x, 'y':y})

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

This simple example of a Dataframe should demonstrate the basic concept of Dataframes. Once data is in the `DataFrame` format, the are infinit ways to transform/slice/merge/... it, to bring it into the desired shape. Along this thesis, some of the functionalities of Dataframes will be used and explained. 
Since the Jupyter environment is still "under construction", the transfer from Juypter to PDF for notebooks does not work to well until now. This does not mean, that is is not possible, it is just not yet implemented in the default/vanilla environment. This is way I want to highlight the small tweak that is at this point still needed to have a comparable output in Juypter notebooks and printed PDFs.
To bypass this obstacle the default behavior of pandas needs to be altered ( similar to this post: [Latex-Tables Monkey Patch](https://stackoverflow.com/a/24167756)). This following patch brings DataFrames in the appropriate shape to by nicely represented in both representations.

### Before the patch

### The patch

In [2]:
import pandas
pandas.set_option('display.notebook_repr_html', True)

pandas.set_option('display.notebook_repr_html', True)

def _repr_latex_(self):
    return r"""
    \begin{center}
    {%s}
    \end{center}
    """ % self.to_latex()

pandas.DataFrame._repr_latex_ = _repr_latex_  # monkey patch pandas DataFrame

### Pretty tables after the patch

In [3]:

display(dF)
"ok"

          x          y
0  0.000000   0.000000
1  0.555556   0.308642
2  1.111111   1.234568
3  1.666667   2.777778
4  2.222222   4.938272
5  2.777778   7.716049
6  3.333333  11.111111
7  3.888889  15.123457
8  4.444444  19.753086
9  5.000000  25.000000

'ok'

### Not so pretty table
And here the representation outwith the tweaks. In the notebook the output will look very similar to the above output. In the PDF version of this thesis, those two output will differ, unless a newer version of Jupyter fixed this issue.

Will this ever by cool again?